body{
    text-align:center;
 
}
#title{
    color: dodgerblue;
}
h2{
    height: 32px;
}
/*#music{
  /*  -webkit-animation: 'rotate1' 3s linear infinite;
    animation: 'ratote1' 3s linear infinite;*/
@-webkit-keyframes rotate1{
    from{transform:rotate(0deg) ;}
    to{transform: rotate(360deg);}
}
@keyframes rotate1{
    from{transform:rotate(0deg) ;}
    to{transform: rotate(360deg);}
  }
#home{
    -webkit-animation: 'scaleDraw' 3s ease-in-out infinite;
    animation:'scaleDraw' 3s ease-in-out infinite;
}  
@-webkit-keyframes scaleDraw{
    0%{
        transform: scale(1);  /*開始為原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
@keyframes scaleDraw{
    0%{
        transform: scale(1);  /*開始為原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}